.cabecalhoPrincipal .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.cabecalhoPrincipal-nav {
  display: flex;
}

.rodapePrincipal-patrocinadores .container{
  display:flex;
  justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 75%;
}

.rodapePrincipal-contatoForm {
  width: 25%;
}

.rodapePrincipal-contatoForm-fieldset {
  display: flex;
}

.rodapePrincipal-navMap-list {
  display: flex;
  flex-direction: column;
  height: 255px;
  flex-wrap: wrap;
}

.conteudoPrincipal-cursos {
  display:flex;
  flex-wrap: wrap;
}

.conteudoPrincipal-cursos-link {
  width: 23%;
}

.conteudoPrincipal-cursos-link:nth-child(4n) {
  margin-right: 0;
}

.conteudoPrincipal-cursos-link:nth-child(4n+1) {
  margin-left: 0;
}

.videoSobre .container{
  display: flex;
}

.videoSobre-sobre {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-grow: 2;
}

.videoSobre-sobre-list{
  flex-grow: 1;
}

.videoSobre-video {
  flex-grow: 1;
  flex-shrink: 2;
}



/* Mobile */
@media (max-width: 770px){
  .cabecalhoPrincipal-nav {
    flex-direction: column;
    width: 100%;
  }

  .cabecalhoPrincipal .container{
    flex-direction: column;
    align-items: initial;
    text-align: center;
  }

  .conteudoPrincipal-cursos{
    flex-direction: column;
  }

  .conteudoPrincipal-cursos-link {
    width: 100%;
  }
  

  .conteudoPrincipal-cursos-link:nth-child(4n) {
    margin-right: auto;
  }
  
  .conteudoPrincipal-cursos-link:nth-child(4n+1) {
    margin-left: auto;
  }

  .rodapePrincipal-navMap-list{
    height:auto;
  }

  .videoSobre .container {
    flex-direction: column;
    align-items:center;
  }

  .rodapePrincipal-patrocinadores .container{
    flex-direction: column;
    align-items:center;
  }


  .rodapePrincipal-patrocinadores-list{
    margin: 0;
    width: 100%;

  }
  .rodapePrincipal-contatoForm {
    width: 100%;
  }

  .rodapePrincipal-contatoForm-fieldset{
    justify-content: center;
  }

  .cabecalhoPrincipal-nav-link-app{
    order: -1;
  }
}